body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

.email
{
margin-left:30px;
font-size:15px; 
}  
.alias
{
margin-left:30px;
font-size:15px;
font-weight:bold;
} 
.rules_container
{
margin-top:35px;
}
.gen_text
{
margin-left:30px;
}